@import url('https://fonts.googleapis.com/css?family=Changa:400,500,600,700&display=swap');

body {
	margin: 0;
	font-family: 'Changa', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.progress {
	height: 30px;
}
.progress-bar {
	min-width: 20px;
	background-color: #5a5560 !important;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border-bottom: 2px solid #ddd;
	padding: 8px;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4caf50;
	color: white;
}

a.nav-link {
	padding: 10px;
}
.nav-link.active {
	text-decoration: underline;
}
